Silver-Goggles/Silver-Goggles/obj/Debug/TypeScriptCompilerOutput.txt
Silver-Goggles/Silver-Goggles/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Silver-Goggles/Silver-Goggles/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Silver-Goggles/Silver-Goggles/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Silver-Goggles/Silver-Goggles/obj/Debug/Silver-Goggles.csproj.FileListAbsolute.txt
Silver-Goggles/Silver-Goggles/bin/TypeScriptHTMLApp1.dll.config
Silver-Goggles/Silver-Goggles/app.js.map
Silver-Goggles/Silver-Goggles/Silver-Goggles.csproj
Silver-Goggles/Silver-Goggles.sln
Silver-Goggles/.vs/config/applicationhost.config
